<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>信息发布系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    #parse("include/header.html")
</header>
<body style="">
<div id="list">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs12">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a class="btn btn-default" @click="load" ><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default" @click="preview" ><i class="fa fa-wpexplorer"></i>&nbsp;预览</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row animated fadeInRight" style="padding: 10px 2px 0px 2px;">
        <table id="dataGrid" ></table>
    </div>
</div>

#parse("include/footer.html")

<script src="${rc.contextPath}/statics/js/manage/program/list_relation.js?_${date.systemTime}"></script>

</body>
</html>