<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>信息发布系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    #parse("include/header.html")
</header>
<!--<body style="background: #ecf0f5">-->
<body style="background: #ffffff">
    <div id="list">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs12"  v-cloak>
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-cloud"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text"><p>在线终端</p></span>
                        <span class="info-box-number">{{onlineTerminal}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs12" v-cloak>
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-desktop"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text"><p>离线终端</p></span>
                        <span class="info-box-number">{{offlineTerminal}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs12"  v-cloak>
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-paper-plane-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text"><p>总终端数</p></span>
                        <span class="info-box-number">{{terminalTotal}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <!--主区块-->
            <div class="row">
                <!--左面板: 终端分组-->
                <div class="col-md-2 col-sm-2 col-xs12 no-padding">
                    <div class="panel panel-default">
                        <div class="panel-heading">终端分组</div>
                        <div class="panel-body" id="treePanel" style="overflow: auto; height: 146px;">
                            <div class="">
                                <ul id="classifyTree" class="ztree"></ul>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <a class="btn btn-default btn-sm" @click="saveClassify" ><i class="fa fa-plus"></i>&nbsp;新增</a>
                                            <a class="btn btn-default btn-sm" @click="editClassify" ><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                                            <a class="btn btn-default btn-sm" @click="removeClassify" ><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--右面板：终端列表-->
                <div class="col-md-10 col-sm-10 col-xs12 no-padding">
                    <div class="panel panel-default">
                        <div class="panel-heading">终端列表</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-12 form-inline pull-left">
                                    <div class="form-group">
                                        <input v-model="keyword" @keyup.enter="load" class="form-control" placeholder="请输入查询关键字" style="width: 220px;" />
                                    </div>
                                    <div class="form-group">
                                        <a class="btn btn-primary" @click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <div class="btn-toolbar pull-right">
                                        <div class="btn-group">
                                            <a v-if="hasPermission('mana:terminal:list')" class="btn btn-default" @click="load" ><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                                            <a class="btn btn-default" @click="getAll" ><i class="fa fa-th-list"></i>&nbsp;获取全部</a>
                                        </div>
                                        <div class="btn-group">
                                            <a v-if="hasPermission('mana:terminal:taskspush')" class="btn btn-default" @click="taskPush" ><i class="fa fa-plus"></i>&nbsp;任务下发</a>
                                        </div>
                                            <div class="btn-group">
                                            <a v-if="hasPermission('mana:terminal:save')" class="btn btn-default" @click="save" ><i class="fa fa-plus"></i>&nbsp;新增</a>
                                            <a v-if="hasPermission('mana:terminal:edit')" class="btn btn-default" @click="edit" ><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                                            <a v-if="hasPermission('mana:terminal:remove')" class="btn btn-default" @click="remove" ><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                                        </div>
                                        <div class="btn-group">
                                            <a v-if="hasPermission('mana:terminal:disable')"  class="btn btn-default" @click="disable" ><i class="fa fa-pause"></i>&nbsp;关机</a>
                                            <a v-if="hasPermission('mana:terminal:restart')" class="btn btn-default" @click="restart" ><i class="fa fa-spinner "></i>&nbsp;重启</a>
                                        </div>
                                        <div class="btn-group">
                                            <a v-if="hasPermission('mana:terminal:settings')" class="btn btn-default" @click="settings" ><i class="fa fa-gear"></i>&nbsp;设置</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row animated fadeInRight" style="padding: 10px 2px 0px 2px;">
                                <table id="dataGrid" ></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    #parse("include/footer.html")

    <script src="${rc.contextPath}/statics/js/manage/terminal/list.js?_${date.systemTime}"></script>

    <script>
        $(function () {
            $(".fixed-table-container").css("background", "#fff");
        });
    </script>
</body>
</html>